<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="job Search, Career, Resume, Career Builder, Employment" />
    <meta name="description" content="Internie - the job finder is designed especially for the  job related agency, multipurpose and business and those who offer job related services." />
    <meta property="og:site_name" content="Internie" />
    <meta property="og:url" content="https://sayfurrahaman.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Internie - the job finder" />
    <meta name="og:image" content="images/assets/ogg.html" />
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#6dbfb8" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#6dbfb8" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#6dbfb8" />
    <title>Internie-the job finder</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="72x33" href="{% static 'assets/images/fabicon.png' %}" />
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/style.css' %}" media="all" />
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/responsive.css' %}" media="all" />

    <!-- Fix Internet Explorer ______________________________________ -->
    <!--            [if lt IE 9]>
			<script src="static/assets/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="static/assets/vendor/html5shiv.js"></script>
			<script src="static/assets/vendor/respond.js"></script>
		<![endif]            -->
  </head>

  <body>
    <div class="main-page-wrapper">
      <!--             ===================================================
				Loading Transition
			====================================================             -->
      <div id="preloader">
        <div id="khoj-preloader" class="khoj-preloader">
          <div class="animation-preloader">
            <h1>Internie</h1>
          </div>
        </div>
      </div>
      <!--            =========================
			 header html start  1
			 =================================              -->
      <div class="theme-main-menu sticky-menu theme-menu-one">
        <div class="inner-content">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex logo order-lg-0">
              <a href="{% url 'index' %}" class="d-block"><img src="{% static 'assets/images/logo/logo.png' %}" alt="" /></a>
            </div>
            <div class="right-wiget d-lg-flex align-items-center order-lg-3">
              {% if request.user.is_authenticated %}
                <div class="people dropdown">
                  <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'assets/images/icon/user.svg' %}" alt="" /></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">Action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
                    </li>
                  </ul>
                </div>
              {% else %}
                <div class="sign-up">
                  <a class="custom-btn" href="{% url 'student:sign-up' %}">Create Account</a>
                </div>
              {% endif %}
            </div>
            <!--             ================================================
						                      nav bar start
					     ================================================             -->
            <div class="left-wiget">
              <nav class="navbar navbar-expand-lg order-lg-2">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="job-details.html">Job Details</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="candidate-list.html">Candidate List</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="candidate-grid.html">Candidate Grid</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="candidates-details.html">Candidates Details</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="blog-single.html">Blog Single</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="blog-grid.html">Blog Grid</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="login.html">Login</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="register.html">Register</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="./dasgboard-2/employer-dashboard.html">Company Dashboard</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="./dasgboard-2/candidate-dashboard.html">Student Dashboard</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                    {% comment %} <li class="nav-item">
                      <a class="nav-link" href="job-grid.html">Post a Job</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                      <a class="nav-link" href="job-list.html">Find a Job</a>
                    </li>
                  </ul>
                  <div class="right-wiget d-flex align-items-center order-lg-3 d-lg-none">
                    {% if request.user.is_authenticated %}
                      <div class="people dropdown">
                        <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'assets/images/icon/user.svg' %}" alt="" /></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#">Action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Another action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
                          </li>
                        </ul>
                      </div>
                    {% else %}
                      <div class="sign-up">
                        <a class="custom-btn" href="{% url 'student:sign-up' %}">Create Account</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </nav>
            </div>
            <!-- //header nav -->
            <!--             ================================================
						                      nav bar start
					================================================             -->
          </div>
        </div>
      </div>
      {% if messages %}
        <div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 9999;">
          <div class="toast-container position-fixed top-0 end-0 p-3">
            {% for message in messages %}
              <div class="toast align-items-center text-white {{ message.tags }} bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body">{{ message }}</div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <script>
		document.addEventListener('DOMContentLoaded', function() {
			var toastElList = [].slice.call(document.querySelectorAll('.toast'))
			var toastList = toastElList.map(function(toastEl) {
			  return new bootstrap.Toast(toastEl, { autohide: true, delay: 3000 })  // Auto-hide after 3 seconds
			})
			toastList.forEach(toast => toast.show())  // Show all toasts
		  });
      </script>

      <!--             =======================
				header html end
				=====================================             -->

      {% block content %}

      {% endblock %}

      <div class="footer-one pt-80 pb-80">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-lg-8 col-xl-8">
              <div class="row">
                <div class="col-lg-8 col-xl-8">
                  <div class="footer-one_1">
                    <img src="static/assets/images/logo/logo.png" alt="" class="pb-30" />
                    <p class="">Collaboratively parallel task functionalized tailers whereas principle-centered schemas. Continually enable multifunctional.</p>
                    <div class="social_group pt-40">
                      <ul>
                        <li>
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-xl-4 ms-auto">
                  <div class="footer-one_2">
                    <h4 class="mb-10 md-mt-30">Quick Links</h4>
                    <ul>
                      <li>
                        <a href="#">Home</a>
                      </li>
                      <li>
                        <a href="#">Popular</a>
                      </li>
                      <li>
                        <a href="#">Best Offer</a>
                      </li>
                      <li>
                        <a href="#">Destinations</a>
                      </li>
                      <li>
                        <a href="#">Changelog</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4">
              <div class="row">
                <div class="col-lg-6 col-xl-6">
                  <div class="footer-one_2">
                    <h4 class="mb-10 md-mt-30">Company</h4>
                    <ul>
                      <li>
                        <a href="#">About</a>
                      </li>
                      <li>
                        <a href="#">Contact</a>
                      </li>
                      <li>
                        <a href="#">Careers</a>
                      </li>
                      <li>
                        <a href="#">Press</a>
                      </li>
                      <li>
                        <a href="#">Presentation</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-6 ms-auto">
                  <div class="footer-one_2">
                    <h4 class="mb-10 md-mt-30">Services</h4>
                    <ul>
                      <li>
                        <a href="#">Contact & Faq</a>
                      </li>
                      <li>
                        <a href="#">Track Your Order</a>
                      </li>
                      <li>
                        <a href="#">Shipping</a>
                      </li>
                      <li>
                        <a href="#">Trade Program</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="copy-right text-center pt-60">
              <h5 class="">All rights reserved ©2024 Internie</h5>
            </div>
          </div>
        </div>
      </div>
      <!--             =========================================
        Footer
        =============================================             -->
      <button class="scroll-top"><i class="bi bi-arrow-up-short"></i></button>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Bootstrap JS -->
      <!-- jQuery -->
      <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>
      <!-- Bootstrap JS -->
      <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- AOS js -->
      <script src="{% static 'assets/vendor/aos-next/dist/aos.js' %}"></script>
      <!-- Slick Slider -->
      <script src="{% static 'assets/vendor/slick/slick.min.js' %}"></script>
      <!-- js Counter -->
      <script src="{% static 'assets/vendor/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'assets/vendor/jquery.waypoints.min.js' %}"></script>
      <!-- Nice Select -->
      <script src="{% static 'assets/vendor/nice-select/jquery.nice-select.min.js' %}"></script>
      <!-- Theme js -->
      <script src="{% static 'assets/js/theme.js' %}"></script>
    </div> <!-- /.main-page-wrapper -->
  </body>
</html>
