{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<div class="main-page-wrapper">
	<!-- ================================
			   banner section start 2
			   ===========================   -->
	<div class="banner-one mb-160 sm-mb-90">
	  <div class="container">
		<div class="banner-one-rapper">
		  <div class="row g-5 d-flex align-items-center justify-content-md-center">
			<!-- left side content -->
			<div class="col-lg-6 g-5 left_banner pt-160 sm-pt-90">
			  <h1 class="hero-heading">Find Your Dream Job with <span>Internie.</span></h1>
			  <form class="mt-50">
				<div class="item_1">
				  <img src="static/assets/static/assets/images/icon/search.svg" alt="" />
				</div>
				<div class="item_2">
				  <input type="text" id="username" placeholder="Job title" required />
				</div>
				<div class="item_3">
				  <div class="location d-flex">
					<img src="static/assets/images/icon/map.svg" alt="" />
					<select class="nice-select">
					  <option value="0" data-display="Location..">Location..</option>
					  <option value="1">Bangladesh</option>
					  <option value="1">India</option>
					  <option value="1">America</option>
					  <option value="1">Canada</option>
					</select>
				  </div>
				</div>
				<div class="item_4">
				  <a href="#" class="custom-btn"><i class="bi bi-search"></i></a>
				</div>
			  </form>
			</div>
			<!-- ///left side content -->
			<div class="col-lg-5 offset-lg-1">
			  <div class="right_banner pt-160">
				<img src="static/assets/images/banner/banner-1.png" alt="" class="banner-img0" />
				<a href="#"><img src="static/assets/images/screen/screen-1.png" alt="" class="banner-img1" /></a>
				<a href="#"><img src="static/assets/images/screen/screen-2.png" alt="" class="banner-img2" /></a>
				<a href="#"><img src="static/assets/images/screen/screen-3.png" alt="" class="banner-img3" /></a>
				<img src="static/assets/images/shape/shape-1.png" alt="" class="shape1" />
				<img src="static/assets/images/shape/shape-2.png" alt="" class="shape2" />
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- ================================
			   banner section end
			   ===========================   -->
  
	<!--  =========================================
			  partner html  3
			  =============================================  -->
	<section class="Partner">
	  <div class="container">
		<div class="partner-text">
		  <h3 class="heading text-center">More Than <span>100+</span>Company Trusted Us</h3>
		</div>
		<div class="row">
		  <div class="main-content pt-60 pb-160 md-pb-80">
			<div id="partner_slider" class="">
			  <div class="item">
				<img src="static/assets/images/slider/slider-1.png" alt="" />
			  </div>
			  <div class="item">
				<img src="static/assets/images/slider/slider-2.png" alt="" />
			  </div>
			  <div class="item">
				<img src="static/assets/images/slider/slider-3.png" alt="" />
			  </div>
			  <div class="item">
				<img src="static/assets/images/slider/slider-4.png" alt="" />
			  </div>
			  <div class="item">
				<img src="static/assets/images/slider/slider-5.png" alt="" />
			  </div>
			  <div class="item">
				<img src="static/assets/images/slider/slider-1.png" alt="" />
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  theme one category start 4
			  =============================================  -->
	<section class="categoty theme-one-category pb-160 md-pb-90">
	  <div class="container">
		<div class="category-rapper">
		  <h3 class="heading text-justify pb-60">Explore job by<span>Categories</span></h3>
		  <div class="row first-row pb-20 md-p0 gy-4">
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/voice-2.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">Digital Marketing</h4>
				<a href="#" class="category-link pt-20">82 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-two d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/edit-square.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">UI/UX Design</h4>
				<a href="#" class="category-link pt-20">354 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-three d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/edit.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">Content Writing</h4>
				<a href="#" class="category-link pt-20">105 jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-four d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/activity.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">Development</h4>
				<a href="#" class="category-link pt-20">157 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-five d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/activity.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">Account & Finance</h4>
				<a href="#" class="category-link pt-20">82 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-six d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/document.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">HR Managment</h4>
				<a href="#" class="category-link pt-20">82 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one">
				<div class="job-icon-one job-icon-seven d-flex align-items-center justify-content-center">
				  <img src="static/assets/images/icon/video.png" alt="" />
				</div>
				<h4 class="category-heading pt-20">Videography</h4>
				<a href="#" class="category-link pt-20">82 Jobs</a>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
			  <div class="job-category-one active">
				<h4 class="pt-20">Explore 20+</h4>
				<h4 class="pt-10">More Category</h4>
				<a href="#" class="pt-20"><img src="static/assets/images/icon/arrow.png" alt="" /></a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  theme one category start 
			  =============================================  -->
	<!--  =========================================
			  .about us start 5
			  =============================================  -->
	<section class="about-us position-relative pb-160 md-pb-90">
	  <div class="container">
		<div class="about-us-rapper position-relative">
		  <!-- >>>shapes -->
		  <img src="static/assets/images/shape/shape-5.png" alt="" class="shape shape-5" />
		  <img src="static/assets/images/shape/shape-6.png" alt="" class="shape shape-6" />
		  <img src="static/assets/images/shape/shape-6.png" alt="" class="shape shape-7" />
		  <div class="row d-flex align-items-center justify-content-center">
			<!-- shapes/// -->
			<div class="col-lg-6">
			  <div class="left-about-one">
				<img src="static/assets/images/banner/banner-2.jpg" alt="" class="pic-one" />
				<img src="static/assets/images/screen/screen-4.png" alt="" class="pic-two" />
				<img src="static/assets/images/screen/screen-5.png" alt="" class="pic-three" />
				<img src="static/assets/images/screen/screen-6.png" alt="" class="pic-four" />
				<img src="static/assets/images/shape/shape-4.png" alt="" class="pic-five" />
			  </div>
			</div>
			<div class="col-lg-5 offset-lg-1">
			  <div class="right-about md-mt-50">
				<span class="span-one">About Us</span>
				<h2 class="heading-2 mt-20 md-mt-20">Find Your Perfect Job Based on Experience</h2>
				<p class="md-mt-20">Energistically iterate effective data whereas is to highly efficient e-business. Conveniently and productivate leang edge models visa visaa wireless ideas.</p>
				<a href="#" class="md-mt-20">More Details</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  .about us end 
			  =============================================  -->
	<!--  =========================================
			  .FEATURED JOBS   6
			  =============================================  -->
	<section class="feature-job mb-160 md-mb-90">
	  <div class="feature-job-rapper pt-80 pb-80">
		<div class="container">
		  <div class="text-center feature-job-title">
			<span class="span-one">FEATURED JOBS</span>
			<h2 class="heading-2 mt-20 mb-60 md-p0">Perfect Job For You</h2>
		  </div>
		  <div class="row px-0 gy-4">
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-1.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Sr. UX/UI Designer</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>United States</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Full-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$5000</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-2.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Full Stack Developer</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>Canada</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Full-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$7500</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-3.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Digital Marketing</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>United Kingdom</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Part-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$5000</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-1.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Sr. UX/UI Designer</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>United States</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Full-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$5000</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-2.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Full Stack Developer</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>Canada</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Full-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$7500</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
			  <div class="job-1 d-flex flex-column">
				<div class="job-company">
				  <div class="company-name">
					<img src="static/assets/images/slider/slider-3.png" alt="" />
					<span>Remote</span>
				  </div>
				  <div class="company-taq">
					<i class="bi bi-bookmark"></i>
				  </div>
				</div>
				<div class="job-title">
				  <h3>Digital Marketing</h3>
				</div>
				<div class="job-type">
				  <span><i class="bi bi-geo-alt"></i></span>
				  <span>United Kingdom</span>
				  <span><i class="bi bi-clock"></i></span>
				  <span>Part-Time</span>
				</div>
				<div class="job-sallary">
				  <span><strong>$5000</strong>/Month</span>
				  <a href="#" class="">Apply Now</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="explore-btn">
			<a href="#" class="btn-custom">Explore All</a>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  .FEATURED JOBS
			  =============================================  -->
	<!--  =========================================
			  .WHY CHOOSE US  7
			  =============================================  -->
	<section class="why-choose-us mb-160 md-mb-120">
	  <div class="container">
		<div class="why-choose-us-rapper position-relative">
		  <!-- >>>shapes -->
		  <img src="static/assets/images/shape/shape-5.png" alt="" class="shape shape-5" />
		  <img src="static/assets/images/shape/shape-6.png" alt="" class="shape shape-6" />
		  <img src="static/assets/images/shape/shape-6.png" alt="" class="shape shape-7" />
		  <div class="row d-flex align-items-center justify-content-center">
			<!-- shapes/// -->
			<div class="row d-flex align-items-center justify-content-center">
			  <div class="col-xl-5 left-choose-content">
				<div class="choose-us-heading">
				  <span class="span-one">Why Choose Us</span>
				  <h2 class="text-justify mb-20 mt-20"><span>Internie.</span> Website Only For Your Dream Jobs</h2>
				  <p class="">Phosfluorescently develop empowered communit rather than front-end networks. Competently formula revolut infrastructures with hi standards.</p>
				  <ul class="mb-30 mt-30">
					<li>
					  <span><i class="bi bi-shield-check"></i></span><a href="#">Payment Gateway Secure</a>
					</li>
					<li>
					  <span><i class="bi bi-file-earmark-arrow-up"></i></span><a href="#">Quick Delivery & Fast Load</a>
					</li>
					<li>
					  <span><i class="bi bi-clock"></i></span><a href="#">Work Per Hour & Screenshots</a>
					</li>
				  </ul>
				  <a href="#" class="custom-btn">Learn More</a>
				</div>
			  </div>
			  <div class="col-xl-6 offset-xl-1 lg-mt-80 md-mt-80">
				<div class="right-choose-content position-relative">
				  <img src="static/assets/images/banner/banner-3.jpg" alt="" class="img-fluid" />
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  .WHY CHOOSE US
			  =============================================  -->
	<!--  =========================================
			  .TESTIMONIALS 8
			  =============================================  -->
	<div class="testimonial pb-160 md-pb-120">
	  <div class="container-fluid">
		<div class="testimonial-rapper">
		  <div class="heding-center text-center">
			<span class="span-one">testimonial</span>
			<h2 class="mt-20 mb-60">What Client Say About Us</h2>
		  </div>
		  <div class="testimonial-content">
			<div class="container">
			  <div id="testimonial_slider">
				<div class="testimonial-item">
				  <div class="testimonial-item-rapper">
					<div class="row">
					  <div class="col">
						<div class="testimonial-item-inner d-flex align-items-center justify-content-center">
						  <div class="">
							<img src="static/assets/images/team/team-1.jpg" alt="" />
						  </div>
						  <div class="name mt-20">
							<h4 class="">Georgia Emilia</h4>
						  </div>
						  <div class="designation mt-20">
							<h5 class="">Sr. UX/UI Designer</h5>
						  </div>
						  <div class="rating mt-20">
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span>4.7</span>
						  </div>
						  <div class="details mt-20">
							<p class="">Phosfluorescently develop empowere communiti rat than frontend networks competently.</p>
						  </div>
						  <div class="mt-20">
							<img src="static/assets/images/icon/commmas.png" alt="" />
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="testimonial-item">
				  <div class="testimonial-item-rapper">
					<div class="row">
					  <div class="col">
						<div class="testimonial-item-inner">
						  <div class="">
							<img src="static/assets/images/team/team-2.jpg" alt="" />
						  </div>
						  <div class="name mt-20">
							<h4 class="">Georgia Emilia</h4>
						  </div>
						  <div class="designation mt-20">
							<h5 class="">Sr. UX/UI Designer</h5>
						  </div>
						  <div class="rating mt-20">
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span>4.7</span>
						  </div>
						  <div class="details mt-20">
							<p class="">Phosfluorescently develop empowere communiti rat than frontend networks competently.</p>
						  </div>
						  <div class="mt-20">
							<img src="static/assets/images/icon/commmas.png" alt="" />
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="testimonial-item">
				  <div class="testimonial-item-rapper">
					<div class="row">
					  <div class="col">
						<div class="testimonial-item-inner">
						  <div class="">
							<img src="static/assets/images/team/team-3.jpg" alt="" />
						  </div>
						  <div class="name mt-20">
							<h4 class="">Georgia Emilia</h4>
						  </div>
						  <div class="designation mt-20">
							<h5 class="">Sr. UX/UI Designer</h5>
						  </div>
						  <div class="rating mt-20">
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span>4.7</span>
						  </div>
						  <div class="details mt-20">
							<p class="">Phosfluorescently develop empowere communiti rat than frontend networks competently.</p>
						  </div>
						  <div class="mt-20">
							<img src="static/assets/images/icon/commmas.png" alt="" />
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="testimonial-item">
				  <div class="testimonial-item-rapper">
					<div class="row">
					  <div class="col">
						<div class="testimonial-item-inner">
						  <div class="">
							<img src="static/assets/images/team/team-1.jpg" alt="" />
						  </div>
						  <div class="name mt-20">
							<h4 class="">Georgia Emilia</h4>
						  </div>
						  <div class="designation mt-20">
							<h5 class="">Sr. UX/UI Designer</h5>
						  </div>
						  <div class="rating mt-20">
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span><i class="bi bi-star-fill"></i></span>
							<span>4.7</span>
						  </div>
						  <div class="details mt-20">
							<p class="">Phosfluorescently develop empowere communiti rat than frontend networks competently.</p>
						  </div>
						  <div class="mt-20">
							<img src="static/assets/images/icon/commmas.png" alt="" />
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!--  =========================================
			  .TESTIMONIALS
			  =============================================  -->
	<!--  =========================================
			  .Download Apps 9
			  =============================================  -->
	<section class="apps-download mb-160 md-mb-90">
	  <div class="container">
		<div class="row d-flex g-5 align-items-center">
		  <div class="col-lg-6 col-xl-5">
			<div class="apps_content-left">
			  <span class="span-one">get it now</span>
			  <h2 class="mt-20 mb-20">Download Our Mobile Version App</h2>
			  <p class="">Energistically iterate effective data whereas is high efficient ebusiness. Conveniently and productivate leading edge models visa wireless ideas.</p>
			  <div class="pt-40 d-flex align-items-center justify-content-start g-5">
				<div class="">
				  <a href="#" class=""><img src="static/assets/images/screen/screen-7.png" alt="" /></a>
				</div>
				<div class="px-3">
				  <a href="#" class=""><img src="static/assets/images/screen/screen-8.png" alt="" /></a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-6 col-xl-7">
			<div class="apps_content-right">
			  <img src="static/assets/images/screen/screen-9.png" alt="" class="img-fluid" />
			  <img src="static/assets/images/screen/screen-10.png" alt="" class="img-fluid" />
			  <img src="static/assets/images/screen/screen-11.png" alt="" class="img-fluid" />
			  <img src="static/assets/images/screen/screen-12.png" alt="" class="img-fluid" />
			  <img src="static/assets/images/shape/shape-2.png" alt="" class="img-fluid" />
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  Download Apps
			  =============================================  -->
	<!--  =========================================
			  Customers 10
			  =============================================  -->
	<section class="Customer-one mb-160 md-mb-80">
	  <div class="container">
		<div class="customer_rapper">
		  <img src="static/assets/images/shape/shape-4.png" alt="" />
		  <img src="static/assets/images/shape/shape-4.png" alt="" />
		  <div class="row">
			<div class="col customer_content text-center pt-80 pb-80">
			  <h2 class="">200k+ Customers Regular Visit Our Site.Try it now!</h2>
			  <p class="mb-30">Enthusiastically mesh user friendly content with long-term high-impact architectures. Proactively underwhelm .</p>
			  <a href="#" class="custom-btn">Apply Now</a>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  Customers
			  =============================================  -->
	<!--  =========================================
			  Subscribe to Our Newsletter 11
			  =============================================  -->
	<section class="subscribe-one pb-80">
	  <div class="container">
		<div class="row g-5 d-flex align-items-center">
		  <div class="col-lg-6">
			<div class="subscriber-content-left">
			  <h2 class="">Subscribe to Our<br /> Newsletter</h2>
			</div>
		  </div>
		  <div class="col-lg-6 ms-auto">
			<div class="subscriber-content-right">
			  <form class="">
				<input type="email" placeholder="Your Email Address" />
				<a href="#" class="custom_btn ms-auto">SUBSCRIBE</a>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--  =========================================
			  Subscribe to Our Newsletter
			  =============================================  -->
	<!--  =========================================
			  Footer 12
			  =============================================  -->
  </div>
{% endblock content %}
